<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>fishermand</string>
		<key>Program</key>
		<string>/usr/local/bin/fishermand_booter</string>
		<key>KeepAlive</key>
		<true/>
		<key>StandardErrorPath</key>
        <string>/usr/local/var/log/fishermand.log</string>
	</dict>
</plist>
