/* This file is for your main application css. */
// @import "./phoenix.css";
@import "./fisherman.scss";

button {
  cursor: pointer;
}

code {
  background:white;
  border-radius:0.2rem;
  font-size:86%;
  margin:0 .2rem;
  padding:.1rem;
  white-space:nowrap;
}

body {
  color:#000000;
  font-family:'Helvetica', 'Arial', sans-serif;
  font-size:1em;
  font-weight:300;
  line-height:1.6;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
