// Table Menu
.query-submit-btn {
  margin-top: 0.25rem;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: rgb(218, 218, 255);
}

.table-query-builder {
  padding: 0.25rem;
  border: 1px solid black;
}

.table-view-options {
  margin-top: 0.25rem;
  padding: 0.25rem;
  border: 1px solid black;
}

.hidden-pids-group {
  overflow: auto;
}

.hidden-pid-btn {
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  float: left;
}

.table-menu-header {
  border-bottom: 1px solid black;
  background-color: #B8B8B8;
  padding: 0.5rem;
  border-radius: 0.4rem 0.4rem 0 0;
}

.table-menu-content {
  background-color: #F5F5F5;
  padding: 0.25rem;
}

.table-menu {
  width: 16rem;
  position: relative;
  margin-right: 0.5rem;
  overflow: hidden;
  height: 100%;
  border: 1px solid black;
  border-radius: 0.4rem 0.4rem 0 0;
}

// Shell Inspector
.shell-inspector-close-btn {
  position: absolute;
  padding: 0.2rem;
  margin: 0.2rem;
  right: 0;
  top: 0;
}

.shell-inspector-header {
  border-bottom: 1px solid black;
  background-color: #B8B8B8;
  padding: 0.5rem;
  border-radius: 0.4rem 0.4rem 0 0;
}

.shell-inspector-content {
  background-color: #F5F5F5;
  padding: 0.5rem;
}

.shell-inspector {
  position: relative;
  margin-left: 0.5rem;
  height: 100%;
  border: 1px solid black;
  border-radius: 0.4rem 0.4rem 0 0;
  transition: flex 2s;
}

.feed-container {
  flex: 3;
  overflow: hidden;
}

.grid {
  display: grid;
  border-top: 1px solid black;
  border-right: 1px solid black;
  overflow: scroll;
  max-height: 70vh;
  background-color: #F5F5F5;
}

.grid-cell {
  padding: 0.5rem;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
}

#grid-pid-headers {
  border-radius: 0.4rem 0.4rem 0 0;
}

#grid-pid-headers div:last-child {
  border-radius: 0 0.4rem 0 0;
}

#grid-pid-headers div:first-child {
  border-radius: 0.4rem 0 0 0;
}

#grid-pid-headers div:only-child {
  border-radius: 0.4rem 0.4rem 0 0;
}

.grid-header {
  padding: 0.5rem;
  position: relative;
  border-left: 1px solid black;
  overflow: hidden;
  background-color: #B8B8B8;
}

.pid-hide-btn {
  position: absolute;
  padding: 0.2rem;
  margin: 0.2rem;
  right: 0;
  top: 0;
  text-align: center;
}

// Linear Shells Table
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.flexbox-wrapper{
  display: flex;
}

.fluid-group{
  flex-grow: 1;
}

.pid-column-headers {
  position: sticky;
  top: 10px;
}

.vertical-scrollbox {
  max-height: 68vh;
  overflow-y: scroll;
}

.shell-record {
  position: absolute;
  text-align: left;
  border-radius: 4px;
  width: 100%;
  opacity: 88%;
}

.timestamp-axis {
  margin: 0.5rem;
  width: 22rem;
  min-width: 22rem;
}

.time-tick {
  border: 1px black solid;
}

/* mobile first layout: Swimlanes are vertically stacked to begin with. */
.swimlanes {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    /* The swimlanes__column element groups the heading and the list */
    &__column {
      position: relative;
      min-width: 15rem; /* this is what makes the concept legible when there are many swimlanes */
      flex: 1;  /* to keep everything equally sized */
      background: #F2F2F3;  /* replace with casper color variable */
      // padding: 0.5rem;
      border-radius: 0.5rem;
      margin: 0.5rem;
    }

    &__title {
      position: sticky;
      color: blue;
      min-width: 15rem; /* this is what makes the concept legible when there are many swimlanes */
      flex: 1;  /* to keep everything equally sized */
      background: #F2F2F3;  /* replace with casper color variable */
      padding: 0.5rem;
      border-radius: 0.5rem 0.5rem 0 0;
      margin: 0.5rem;
    }
  }
  
  /* From 48rem and up we switch the flex-direction to row for horizontally stacked swimlanes */
  @media (min-width: 48rem) {
    .swimlanes {
      flex-direction: row;
      overflow-x: scroll;
    }
  }