// Relative Shells Table
.grid {
  display: grid;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  overflow: scroll;
  max-height: 20rem;
}

.grid-cell {
  padding: 8px 4px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

// Linear Shells Table
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  overflow: hidden;
}

.flexbox-wrapper{
  display: flex;
}

.fluid-group{
  flex-grow: 1;
}

.pid-column-headers {
  position: sticky;
  top: 10px;
}

.vertical-scrollbox {
  max-height: 68vh;
  overflow-y: scroll;
}

.shell-record {
    position: absolute;
    // overflow: scroll;
    text-align: left;
    border-radius: 4px;
    width: 100%;
    opacity: 88%;
    // box-shadow: 2px 2px 4px 1px #888888;
}

.timestamp-axis {
  margin: 0.5rem;
  width: 22rem;
  min-width: 22rem;
}

.time-tick {
  border: 1px black solid;
}

/* mobile first layout: Swimlanes are vertically stacked to begin with. */
.swimlanes {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    /* The swimlanes__column element groups the heading and the list */
    &__column {
      position: relative;
      min-width: 15rem; /* this is what makes the concept legible when there are many swimlanes */
      flex: 1;  /* to keep everything equally sized */
      background: #F2F2F3;  /* replace with casper color variable */
      // padding: 0.5rem;
      border-radius: 0.5rem;
      margin: 0.5rem;
    }

    &__title {
      position: sticky;
      color: blue;
      min-width: 15rem; /* this is what makes the concept legible when there are many swimlanes */
      flex: 1;  /* to keep everything equally sized */
      background: #F2F2F3;  /* replace with casper color variable */
      padding: 0.5rem;
      border-radius: 0.5rem 0.5rem 0 0;
      margin: 0.5rem;
    }
  }
  
  /* From 48rem and up we switch the flex-direction to row for horizontally stacked swimlanes */
  @media (min-width: 48rem) {
    .swimlanes {
      flex-direction: row;
      overflow-x: scroll;
    }
  }